@import "tailwindcss";

/* Custom tabs antd */
.custom-tabs-payment .ant-tabs-nav {
    @apply bg-gray-100 rounded-lg p-2 font-semibold;
}

.custom-tabs-payment .ant-tabs-tab-active .ant-tabs-tab-btn {
    @apply !text-red-500 !text-center;
}

.custom-tabs-payment .ant-tabs-ink-bar {
    @apply bg-red-500;
}

.custom-tabs-payment .ant-tabs-nav-list {
    @apply w-full flex;
}

.custom-tabs-payment .ant-tabs-tab {
    @apply w-[50%] flex justify-center;
}


.custom-tabs-delivery .ant-tabs-nav {
    @apply bg-white rounded-lg p-2 font-semibold;
}


.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    @apply !bg-red-500 !border-red-500;
}

.custom-checkbox:hover .ant-checkbox-inner {
    @apply !border-red-500;
}

.shadow-top {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
        0 -2px 4px -2px rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1;
    /* Color of the scrollbar thumb and track */
}
